<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
        <html lang="en-US">
        <meta name="author" content="Shady Goat">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta content="SET by Shady Goat" property="og:title" />
		<meta content="This is the fun card game 'SET', but recreated as a website made with preact" property="og:description" />
		<meta content="https://set.shadygoat.eu/" property="og:url" />
        <meta name="description" content="This is the fun card game 'SET', but recreated as a website made with preact">
		<meta content="#6d10ff" name="theme-color" />
		<script src="https://cdn.rawgit.com/progers/pathseg/master/pathseg.js"></script>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
		<script src="https://cdn.rawgit.com/progers/pathseg/master/pathseg.js"></script>
	</body>
</html>
