.timerWrapper {
    flex: 0 0 auto;
    width: 22%;
    min-width: 245px;
    display: inline-flex;
    flex-direction: column;
    border: 3px solid darkgrey;
    padding: 15px;
    color: var(--ico);
    font-family: "monospace";
    justify-content: space-between;
}

.timerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timerHeading {
    font-family: cursive;
    font-weight: bolder;
    border-bottom: 3px solid darkgrey;
    text-align: center;
    margin-bottom: 25px;
}

.timerTName {
    flex: 0 0 auto;
}

.timerTTime {
    flex: 0 0 auto;
    text-align: right;
}

.timerTBest {
    flex: 0 0 auto;
    text-align: right;
}

.splitLine {
    height: 1px;
    border-bottom: 2px dashed darkgrey;
} 

.splitWrapper {
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

